.header__menu-button {
    display: none;
    position: absolute;
    right: 27px;
    transform: translateY(50%);
    width: 25px;
    height: 27px;
    background: none;
    border: none;
}

.header__menu-button::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: white;
    box-shadow: 0 9px 00 #ffffff, 0 18px 0 0 #ffffff;
}
@media screen and (max-width: 450px) {
    .header__menu-button {
        display: block;
        top: 7%;
    }
}
@media screen and (max-width: 320px) {
    .header__menu-button {
        top: 3%;
    }
}