@media screen and (max-width: 912px) {
    .header__logo {
        margin-left: 16px;
        margin-right: 16px;
    }
}

@media screen and (max-width: 320px) {
    .header__logo {
        max-width: 104px;
        margin-left: 14px;
    }
}