.profile__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 440px;
    margin-left: 30px;
}

@media screen and (max-width: 700px) {
    .profile__info {
        margin-top: 18px;
    }
}