.element__like {
    margin-left: 10px;
    cursor: pointer;
    background-image: url(../../../images/element-like.svg);
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    width: 23px;
    height: 20px;
    opacity: 1;
    transition: opacity .2s linear;
}

.element__like:hover {
    opacity: .5;
}